@model CheckSiteMap.UI.Models.SiteViewModel

@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    @Styles.Render("~/Content/Table.css")
    <title>CheckSitemapApp - Request result</title>
}
<div id="chartContainer" style="height: 540px; width: 100%;"></div>

<div class="MinMax">
    <p id="btn-s" class="btn btn-danger">Slowest request<br/> @ViewBag.Slow</p>
    <p id="btn-s" class="btn btn-success">Fastest Url<br/> @ViewBag.Fast</p>
</div>

@{ int rowNumber = 0;}

<table class="custom-table">
    <thead>
        <tr class="header">
            <td scope="col">#</td>
            <td scope="col">Sitemap url</td>
            <td scope="col">Request time, sec.</td>
        </tr>
    </thead>
    @using (Html.BeginForm())
    {
        foreach (var b in ViewBag.PaggedList)
        {
            <tbody>
                <tr>
                    <td>@((ViewBag.PaggedList.PageNumber - 1) * 20 + (++rowNumber))</td>
                    <td class="Url-row">@string.Join(" ", b.SitemapUrl)</td>
                    <td>@string.Join(" ", b.TimeRequest)</td>
                </tr>
                <tr>
            </tbody>
        }
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.PaggedList, page => Url.Action("CheckRequest", new { page }))

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title: {
        text: "Request to @Model.Url",
        fontSize: 40,
        verticalAlign: "top",
        horizontalAlign: "center"
        },
    subtitles: [{
        fontSize: 30,
        text: "Summary time @Model.SummaryTime",
        verticalAlign: "bottom",
        horizontalAlign: "center"
    }],
    axisX: {
        gridThickness: 0,
        tickLength: 0,
        lineThickness: 0,
        labelFormatter: function () {
            return " ";
        }
    },
    data: [{
        type: "bar",
        indexLabel: "{y}",
        dataPoints: @Html.Raw(ViewBag.DataPoints)
	    }]
    });
    chart.render();
}
    </script>
