@model CheckSiteMap.UI.Models.SiteViewModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/Content/icons/icon-image.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    <!--Start of Header-->
    <div class="navbar navbar-dark bg-dark">
        <div class="row">
            <div class="col-4" id="left-block">
                <a class="nav-icon">
                    <img src="~/Content/images/logo.png" height="64" alt="logo">
                </a>
                <button class="btn btn-secondary btn-responsive" id="main_page_btn">@Html.ActionLink("Main Page", "Index", "Home", null, new { @class = "header-button" })</button>
                <button class="btn btn-secondary btn-responsive" id="last_request_btn">@Html.ActionLink("Last Request", "LastRequest", "Home", null, new { @class = "header-button" })</button>
                <button class="btn btn-secondary btn-responsive" id="show_all_btn">@Html.ActionLink("Show all requests", "AllRequests", "Home", null, new { @class = "header-button" })</button>
            </div>
            <div class="col-2" id="valid-field">
                <p>@Html.ValidationMessageFor(model => model.Url)</p>
            </div>
            <div class="col-6" id="right-block">
                <form method="post" action="/Home/Index">
                    <input id="Url" name="Url" type="text" class="form-control" placeholder="Exmpl: www.website.com/sitemap.xml">
                    <button id="header-button" class="btn btn-secondary btn-responsive" type="submit">New request</button>
                    <button class="btn btn-secondary btn-responsive" id="my_req_btn" type="button">@Html.ActionLink("Find my requests", "UserResults", "Home", null, new { @class = "header-button" })</button>
                </form>
            </div>
        </div>
</div>
    <!--End of Header-->
    <div class="body-container">
        @RenderBody()
        <hr />
        <footer>
            <nav id="footer">
                <h6>Contacts us on </h6>
                <div class="icons" unselectable="on">
                    <a title="Telegram" href="https://t.me/Rifterx"><img id="icon" src="~/Content/icons/telegram.png" height="32" /></a>
                    <a title="Linkedin" href="https://www.linkedin.com/"><img id="icon" src="~/Content/icons/linked.png" height="32" /></a>
                    <a title="Facebook" href="https://www.facebook.com/"><img id="icon" src="~/Content/icons/facebook.png" height="32" /></a>
                    <a title="twitter" href="https://twitter.com/"><img id="icon" src="~/Content/icons/twitter.png" height="32" /></a>
                </div>
            </nav>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function resizable(el, factor) {
            var int = Number(factor) || 7.7;
            function resize() { el.style.width = ((el.value.length + 1) * int) + 'px' }
            var e = 'keyup,keypress,focus,blur,change'.split(',');
            for (var i in e) el.addEventListener(e[i], resize, false);
            resize();
        }
        resizable(document.getElementById('Url'), 9);
    </script>
</body>
</html>
