<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check times requst of your sitemap right here</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Start of Header-->
    <div class="header">
        <div class="left-side">
            <a class="nav-icon">
                <img src="~/Content/images/logo.png" height="64" alt="logo">
            </a>
            <button class="btn btn-secondary">@Html.ActionLink("Main Page", "Index")</button>
            <button class="btn btn-secondary">@Html.ActionLink("Last Request", "LastRequest")</button>
            <button class="btn btn-secondary">@Html.ActionLink("Show all requests", "AllRequests")</button>
        </div>
        <form method="post">
            <input id="txt" name="Url" maxlength="60" type="text" class="form-control" placeholder="Exmpl: www.website.com/sitemap.xml">
            <div class="right-side">
                <button class="btn btn-secondary" type="submit">Send New Request</button>
                <button class="btn btn-secondary" type="button">Find My Request</button>
            </div>
        </form>
    </div>
    <!--End of Header-->
    <div class="body-container">
        @RenderBody()
        <hr/>
        <footer>
        <nav id="footer">
            <h6>Contacts us on </h6>
            <div class="icons">
                <img id="icon" src="~/Content/icons/twitter.png" height="32" alt="twitter">
                <img id="icon" src="~/Content/icons/linked.png" height="32" alt="linked-in">
                <img id="icon" src="~/Content/icons/facebook.png" height="32" alt="facebook">
                <img id="icon" src="~/Content/icons/gmail.png" height="32" alt="gmail">
            </div>
        </nav>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/popper")
    @RenderSection("scripts", required: false)

    <script>
        function resizable(el, factor) {
            var int = Number(factor) || 7.7;
            function resize() { el.style.width = ((el.value.length + 1) * int) + 'px' }
            var e = 'keyup,keypress,focus,blur,change'.split(',');
            for (var i in e) el.addEventListener(e[i], resize, false);
            resize();
        }
        resizable(document.getElementById('txt'), 9);
    </script>
</body>
</html>
